
* {box-sizing: border-box;}

body {
    margin: 0;
}

.main-content {
    display: grid;
    grid-template-columns: 1rem minmax(350px, 1fr) 1rem;
    grid-template-rows: 150px 1fr 100px;
    grid-template-areas:
        "..... nav ....."
        "..... body ....."
        "..... footer .....";
}

.nav {
   grid-area: nav;
}

.movie-list {
    grid-area: body;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    grid-area: footer;
}

.nav-fav {
    display: flex;
    justify-content: space-between;
}

.movie {
    display: flex;


    margin-bottom: 2rem;
    height: 550px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;





}



.link {
    display: flex;
    width: 90%;
    justify-content: center;
}

.movie-title {
    font-family: 'Noto Serif', serif;
    max-width: 12em;
}

.movie-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;


    opacity: 0;

}

.movie-info:hover {
    opacity: 1;
}
.movie-link {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fav-icon {
    height: 10%;
}



